header {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}
nav > ul{
    text-align: right;
}
nav > ul > li {
    display: inline;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li a:hover{
    color: blue;
}